.parraf-gral {
  font-size: 25px; }

.text-maindex {
  width: 60%;
  padding: 5rem;
  display: flex;
  align-items: center; }

.imagen-maindex {
  padding: 10px;
  display: flex;
  align-items: center; }
  .imagen-maindex .reimagen-main {
    width: 40%; }

.alg-clientes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row; }

.img-cli {
  width: 300px; }

.nst-serv {
  padding: 40px;
  margin: auto; }

.parraf-gral-for {
  font-size: 25px;
  font-weight: 400; }

.cert-for {
  display: grid;
  grid-template-areas: "img-forM1 img-forM2" "img-forM3 img-forM4"; }

.img-forM1 {
  grid-area: img-forM1;
  padding: 20px; }

.img-forM2 {
  grid-area: img-forM2;
  padding: 20px; }

.img-forM3 {
  grid-area: img-forM3;
  padding: 20px; }

.img-forM4 {
  grid-area: img-forM4;
  padding: 20px; }

.prueba-op {
  padding: 10px; }

.color-negro {
  color: #160101; }

.color-azul {
  color: #0f0f5a; }

.color-verde {
  color: #034403; }

.cuadro, .cuadro-segundo {
  border: solid 2px;
  padding: 10px 15px; }

.cuadro-segundo {
  border-color: #055252;
  background-color: #b6e4e4; }

.fuente {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center; }

.subtitulo-exp {
  padding: 20px;
  font-weight: 500; }

.main-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; }
  .main-contact .inv-form {
    padding: 15px;
    margin-bottom: 20px; }

.form-regist {
  width: 700px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: #f5f5f5;
  box-shadow: 7px 13px 37px #000000; }
  .form-regist h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .form-regist .boton-f {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #f5f5f5;
    margin: 16px 0;
    font-size: 20px;
    font-family: "calibri"; }

.complet {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: #f5f5f5; }

.inv-form {
  width: 30%;
  padding: 5px;
  font-size: 30px; }

@media screen and (max-width: 1150px) {
  .alg-clientes {
    flex-wrap: wrap;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .main-index {
    flex-wrap: wrap; }
    .main-index .text-maindex {
      flex-wrap: wrap;
      align-items: center; }
    .main-index .text-center {
      font-size: 14px;
      margin-bottom: 1rem; }
    .main-index .parraf-gral {
      font-size: 14px; }
    .main-index .alg-clientes {
      flex-wrap: wrap;
      width: 100%; } }

@media screen and (max-width: 1100px) {
  .sobrenos-main {
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .sobrenos-main {
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: column; }
    .sobrenos-main .sobre-tit {
      align-items: center; }
    .sobrenos-main .parraf-gral {
      font-size: 14px;
      align-items: center; }
    .sobrenos-main .sobrenos-imgmain {
      display: flex;
      flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  .parraf-gral-for {
    font-size: 20px;
    font-weight: 500; }
  .cert-for {
    display: grid;
    grid-template-areas: "img-forM1"  "img-forM2" "img-forM3"  "img-forM4"; }
  .img-forM1 {
    padding: 10px; }
  .img-forM2 {
    padding: 10px; }
  .img-forM3 {
    padding: 10px; }
  .img-forM4 {
    padding: 10px; } }

@media screen and (max-width: 768px) {
  .img-header {
    height: 200px; }
  .main-contact {
    flex-wrap: wrap; }
    .main-contact .txt-cont {
      font-size: 18px;
      font-weight: 400; }
    .main-contact .inv-form {
      font-size: 12px;
      width: 100%; }
    .main-contact .form-regist {
      width: 200px;
      background: #24303c;
      padding: 10px;
      margin: auto;
      margin-top: 30px;
      border-radius: 2px;
      font-family: "calibri";
      color: #f5f5f5;
      box-shadow: 4px 8px 17px #000000; }
      .main-contact .form-regist h4 {
        font-size: 10px;
        margin-bottom: 10px; }
      .main-contact .form-regist .boton-f {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 4px;
        color: #f5f5f5;
        margin: 8px 0;
        font-size: 10px;
        font-family: "calibri"; }
    .main-contact .complet {
      width: 100%;
      background: #24303c;
      padding: 5px;
      border-radius: 2px;
      margin-bottom: 8px;
      border: 1px solid #1f53c5;
      font-family: "calibri";
      font-size: 10px;
      color: #f5f5f5; }
  .foot-gral {
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px; } }

@media screen and (max-width: 768px) {
  .img-header {
    height: 200px; }
  .head-princ {
    height: 130px;
    font-size: 80px !important;
    font-weight: 500; }
  .txt-head {
    height: 100px;
    font-size: 40px !important;
    font-weight: 100; } }

@media screen and (max-width: 590px) {
  .img-header {
    height: 200px; }
  .head-princ {
    height: 115px;
    font-size: 60px !important;
    font-weight: 500; }
  .txt-head {
    height: 85px;
    font-size: 20px !important;
    font-weight: 100; } }

.mq-nav {
  font-weight: 400;
  font-family: 'Anton', sans-serif; }

.img-header {
  height: 600px;
  background-image: url("../imagenes/portadaslet.png"); }

.head-princ {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 350px;
  font-size: 130px;
  font-weight: 1000;
  font-family: 'Anton', sans-serif;
  color: #f5f5f5;
  letter-spacing: 0.05em; }

.txt-head {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 250px;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  color: #f5f5f5; }

.foot-gral {
  color: #f5f5f5;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px; }
  .foot-gral .escri-foot {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 14px;
    padding-left: 5px; }
  .foot-gral .fotcol {
    text-decoration: none;
    color: #f5f5f5; }
