.alg-clientes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row; }

.img-cli {
  width: 300px; }

.prueba-op {
  padding: 10px; }

.color-rojo {
  color: #ff0000; }

.color-azul {
  color: #0000ff; }

.color-verde {
  color: #008000; }

.cuadro, .cuadro-segundo {
  border: solid 2px;
  padding: 10px 15px; }

.cuadro-segundo {
  border-color: #011a1a;
  background-color: #464545; }

.fuente {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  display: flex;
  align-items: center; }

.form-regist {
  width: 700px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: #f5f5f5;
  box-shadow: 7px 13px 37px #000000; }
  .form-regist h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .form-regist .boton-f {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #f5f5f5;
    margin: 16px 0;
    font-size: 20px;
    font-family: "calibri"; }

.complet {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: #f5f5f5; }

.inv-form {
  width: 30%;
  padding: 5px;
  font-size: 30px; }

.img-header {
  height: 600px; }

.parraf-gral {
  font-size: 25px; }

.foot-gral {
  color: #f5f5f5;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around; }
