// Propiedades de la pestaña experiencia
// Ademas contiene las distintas funciones del sass

// Operaciones
$spacing: 5px;

.prueba-op{
    padding: $spacing*2;
}

// Mapa
$decor:(
    negro: #160101,
    azul: #0f0f5a,
    verde: #034403
);

@each $color, $tono in $decor {
    .color-#{$color} {
        color: $tono;
    }
}

// Extend
.cuadro{
    border:solid 2px;
    padding: 10px 15px;
}

.cuadro-segundo{
    @extend .cuadro;
    border-color: rgb(5, 82, 82);
    background-color: rgb(182, 228, 228);
}

// Mixins
@mixin letras {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
}

.fuente{
    @include letras;

    text-align: center;
    display: flex;
    align-items: center;
}

.subtitulo-exp{
    padding: 20px;
    font-weight: 500;
}