.terciaria{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-3;
    border: solid;
        h3{
            font-size: 16px;
        }
        p{
            color: $color-letras;
        }
}