
.parraf-gral{
    font-size: 25px;
}
.text-maindex{
    width: 60%;
    padding:5rem;
    display: flex;
    align-items: center;
}

.imagen-maindex{
    padding: 10px;
    display: flex;
    align-items: center;
    .reimagen-main{
        width:40%;
    }
}
.alg-clientes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.img-cli{
    width: 200px;
}