// compilacion de archivos
@import "variables";
@import "home";
@import "sobre-nos";
@import "formacion";
@import "experiencia";
@import "contacto";
@import "media";

// Propiedades de css que aplican a todos

// propiedades imagen de todos los header
.img-header{
    height: 600px;
}

// footer
.foot-gral{
    color: $color1;
    background-color: $color2;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

